page-signals {
    
    

}
.rigthArrowH{
    right: 1em;
    position: fixed;
    margin-top: 0.5rem;
}
.rigthArrowS{
    right: 1em;
    position: fixed;
}
.tamIco{
    font-size:  2em !important;
}
.h{
    text-align: center;
    font-weight: bold !important;
    margin-top: 1rem !important;
}
.p{
    margin-top: 1rem !important;
    color: #999 !important;
    font-size: 80% !important;
    text-align: right;
}
.a{
    color: #999 !important;
    font-size: 75% !important;
    margin-top: 1em !important;
}
.hs{
    font-weight: bold !important;
    font-size: 130% !important;
    margin-top: 0.8rem !important;
}