page-signal-details {

}
.card{
    padding: 0;
}

.grid {
    padding: 0;
}

.instrument{
    padding: 1em;
    text-align: center;
}

.viewImg{
    padding: 1em;
}

.rigth-txt{
    text-align: right;
    padding-right: 1em;
}