page-signal-details {

}
.S_instrument{
    padding: 10px;
    text-align: center;
}
.S_centerImg{
    display: table;
    margin: 0 auto;
}
.S_viewImg{
    margin: 0 auto;
    padding: 5px;
    height: 15em;
    width: 25em;
    border-radius: 12px;
}
.S_signalInfo{
    padding: 1rem;
}
.general_grid{
    margin: 1em;
    width: 86%;
}
.tittle{
    font-size: 1.5rem !important;
}
.info{
    font-size: 1.7rem;
}
.tamIcoDetail{
    font-size:  10rem !important;
}
