<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{"title_page_ib" | translate}}</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <form [formGroup]="myForm">
    <ion-card>
      <ion-card-header class="card_header">
        {{"label_ib_title" | translate}}
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>{{"label_ib_id" | translate}}</ion-label>
          <ion-input type="number" [(ngModel)]="brokerId" formControlName="BrokerID"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"label_ib_pass" | translate}}</ion-label>
          <ion-input type="password" [(ngModel)]="password" formControlName="Password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Broker</ion-label>
          <ion-select [(ngModel)]="broker" formControlName="Broker">
            <ion-option value="IronFx">IronFx</ion-option>
            <ion-option value="Iteractive_Brokers">Interactive Brokers</ion-option>  
          </ion-select>
        </ion-item>
        <ion-fab right [hidden]="!myForm.valid">
          <button ion-fab color="light" (click)="saveAccount()"><ion-icon name="md-add"></ion-icon></button>
        </ion-fab>
      </ion-card-content>
    </ion-card>
  </form>
  <ion-grid>
    <ion-row ion-item *ngFor="let account of accounts" >
      <ion-col col-12>
        {{ account.Broker }} - {{ account.BrokerID }}
        <button ion-button color="danger" clear icon-only (click)="deleteAccount(account.$key)">
          <ion-icon name='trash' is-active="false"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
  <ion-list>
    <ion-item ion-item *ngFor="let account of accounts">
      {{ account.Broker }} - {{ account.BrokerID }}
      <button ion-button color="danger" clear icon-only rigth>
        <ion-icon name='trash' is-active="false"></ion-icon>
      </button>
    </ion-item>  
  </ion-list>
-->
</ion-content>
