page-ib {

}

.fabBTN{
    bottom: 3.5em !important;
}

.card_header{
    padding: 5px !important;
    text-align: center;
}

.label-md{
    margin: 0px !important;
    min-height: 2em;
}
.accountTitle{
    text-align: center;
    font-size: large;
}
.rigthArrowS{
    right: 1em;
    position: fixed;
}
.grid{
    padding: 0px !important;
}
.minAncho{
    min-width: 80%;
    margin: 5px;
    font-size: 1.8rem;
    padding-top: .5rem;
    padding-left: 1rem;
}
.aquaIB{
    filter:alpha(opacity=10);
    opacity:.01;
    background-size: 20em 20em;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }