page-recover {

}
.littleLetter-Recover{
    font-size: 1.3rem;
}
.select-ios-Recover{
    padding: 0 !important;
}
.formStyle-Recover{
    margin-top: 45%;
}
.logoR-Recover{
    margin-top: 1em;
    max-width: 20%;
    max-height: 0%;
    margin-left: auto;
    margin-right: auto;
  }