.page-login {
	background-color: #a4a4a4;
}
.bottom_bar{
    text-align: center;
    color: white;
    background-color: #0080ff;
}
.center_title{
	text-align: center;
    color: white;
}
.logo_login{
	width: 5em;
	height: 5em;
	background-color: transparent;
	margin-left: 8em;
}

.label{
	background-color: transparent;
}
.div-title{
	height: 10em;
}