page-history-details {

}
.H_instrument{
    margin: 0;
    padding: 10px;
    text-align: center;
}
.H_centerImg{
    display: table;
    margin: 0 auto;
}
.H_viewImg{
    margin: 0 auto;
    padding: 5px;
    height: 15em;
    width: 25em;
}
.H_signalInfo{
    padding: 1em;
}
.H_row{
    margin: 5px;
}
