page-history-details {

}
.H_instrument{
    margin: 0;
    padding: 10px;
    text-align: center;
}
.H_centerImg{
    display: table;
    margin: 0 auto;
}
.H_viewImg{
    margin: 0 auto;
    padding: 5px;
    height: 15em;
    width: 25em;
    border-radius: 12px;
}
.H_row{
    margin: 5px;
}
.general_grid{
    margin: 2em;
    width: 86%;
}
.tittle{
    font-size: 1.3rem !important;
}
.info{
    font-size: 1.4rem !important;
}
