.bottom_bar
{
    text-align: center;
    color: white;
    position:fixed;
    bottom:0;
    z-index: 0;
}

.primary_color{
  background-color: #2A214E;
  position: absolute;
}

.TRefCod{
  margin-left: 1em;
  padding-bottom: 0 !important;
}

.refcode{
  margin-left: 3em;
  margin-top: 1rem !important;
}

.loget{
  color: #BDBDBD;
  position:absolute;
  bottom:2.5em;
  right:3em;
}